.community {
    
    padding-bottom: 230px;
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    &__left{
        width: 466px;
        height: 298px;
    }
    &__heading{
        margin: 0;
        padding: 0;
        font-weight: 500;
        font-size: 35px;
        line-height: 50px;
        color: #00194A;
    }
    &__desc{
        margin: 0;
        padding: 0;
        padding-top: 30px;
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: #00194A;
        mix-blend-mode: normal;
        opacity: 0.8;
    }
    
    &__right{
        width: 550px;
        height: 528px;
        
    }
    &__right-list{
        list-style-type: none;
        margin: 0;
        
    }  
    &__right-item{
        margin: 0;
        width: 260px;
        height: 249px;
    }
    
    &__right-item-one{
        margin-left: 300px;
        margin-right: 163px;
    }
    
    &__right-heading{
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #00194A;  
    }
    &__right-desc{
        width: 220px;
        font-weight: 300;
        font-size: 14px;
        line-height: 23px;
        color: #00194A;
        mix-blend-mode: normal;
        opacity: 0.8;
    }
}






